* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Merriweather';
}

a {
    text-decoration: none;
}

:root {
    --primary: #B7080D;
    --text: #000000;
    --positive: #75B842;
    --orange: #EC6607;
    --voilet: #831265;
}

.main-container {
    max-width: calc(100% - 20%);
    margin: 0 auto;
}

.positive {
    color: var(--positive);
    font-size: 16px;
    font-weight: 800;
}

.primary {
    color: var(--primary);
    font-size: 16px;
    font-weight: 800;
}

.orange {
    font-size: 16px;
    font-weight: 800;
    color: var(--orange);
}

.voilet {
    font-size: 16px;
    font-weight: 600;
    color: var(--voilet);
}

/* Navbar */
nav {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 24px 0;
}

.nav-logo {
    width: 10%;
}

.nav-links-container {
    width: 90%;
}

.nav-auth {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-auth>h4 {
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
}

.secondary-btn {
    background-color: #fff;
    border: 1.5px solid #fff;
    outline: none;
    padding: 12px 18px;
    border-radius: 3px;
    font-size: 12px;
}

.secondary-btn:hover {
    border: 1.5px solid var(--primary);
    transition: 0.5s;
}

.primary-btn {
    padding: 12px 18px;
    background-color: var(--primary);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 12px;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.found>h4 {
    font-size: 14px;
    color: var(--text);
}

.found>p {
    font-size: 14px;
}

.nav-link-list ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav-link-list ul li a {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

.nav-link-list ul li a:hover {
    color: var(--primary);
}

.nav-link-list ul li {
    position: relative;
}

.nav-link-list ul li a::after {
    content: "|";
    position: absolute;
    top: -1px;
    right: -10px;
    color: rgba(0, 0, 0, 0.25098);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25098);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25098);
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-search>a {
    color: var(--text);
    font-size: 12px;
}

.nav-lg {
    display: none;
}

/* Hero section */
.hero-bread-crumb {
    font-size: 18px;
}

.hero-bread-crumb>span {
    color: lightgray
}

.hero-container {
    width: 75%;
    border-right: 1px solid rgba(0, 0, 0, 0.2509803922);
    padding-right: 12px;
}

.hero-sidebar {
    width: 25%;
    border-top: 4px solid var(--text);
}

.hero-image {
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content>h1 {
    color: var(--positive);
    font-size: 44px;
    text-decoration: underline;
    font-weight: 900;

}

.hero-content>h2 {
    font-size: 44px;
    font-weight: 800;
    padding: 10px 0;
    color: var(--text);
}

.author {
    display: flex;
    gap: 32px;
    margin: 12px 0;
}

.author>h6 {
    font-size: 13px;
    width: 20%;
    font-weight: 800;
}

.author>p {
    font-size: 20px;
    width: 80%;
}

.hero-content-container {
    padding: 24px 0;
    display: flex;
    gap: 12px;
    border-bottom: 2px solid var(--text);
}

.popular-headings {
    padding: 24px;
}

.popular-heading-col {
    display: flex;
    align-items: stretch;
    gap: 8px;
    padding: 12px 0;
}

.popular-heading-col>h1 {
    font-size: 52px;
    font-weight: 800;
    line-height: 40px;
}

.popular-heading-col p {
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 8px;
    font-weight: 600;
}

.popular-heading-col h6 {
    font-size: 13px;
}

/* Sidebar */
.hero-sidebar>h2 {
    color: var(--primary);
    font-size: 26px;
    font-weight: 800;
    text-decoration: underline;
    padding-top: 24px;
}

.popular-view-more a {
    color: var(--primary);
    font-size: 16px;
    text-decoration: underline;
    display: none;
}

/* Story section */
.story-section,
.story-sections,
.magazine-section {
    padding: 24px 0;
}

.view-more {
    color: var(--primary);
    font-weight: 800;
    text-decoration: underline;
    font-size: 26px;
}

.story-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin: 24px 0;
}

.story-card-one {
    padding-right: 16px;
}

.story-card-content>h3 {
    font-size: 24px;
    padding: 6px 0;
    font-weight: 800;
}

.story-card-content>p {
    font-size: 15px;
    font-weight: normal;
}

.story-card-content>h6 {
    padding: 24px 0;
    font-size: 13px;
    font-weight: 800;
}

.px {
    padding-top: 24px;
}

.border-right {
    position: relative;
}

.border-right::after {
    content: "";
    height: 100%;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.2509803922);
    position: absolute;
    top: 0;
    right: 0;
}

.border-bottom,
.popular-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}

.popular-border-bottom:nth-child(5) {
    border-bottom: none;
    padding-bottom: 24px;
}

.see-more {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.see-more a {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.story-section,
.upgrade,
.magazine-section {
    border-bottom: 2px solid var(--text);
}

.story-section:nth-child(3) {
    border-bottom: 2px solid blue !important;
}

/* story section row two */
.story-section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-section-head a {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 12px;
}

/* Upgrade */
.upgrade {
    padding: 40px 0;
    text-align: center;
}

.upgrade>h3>span {
    font-weight: 800;
}

.upgrade>h3 {
    font-weight: 600;
    margin-bottom: 24px;
    font-size: 18px;
}

.subscribe-btn {
    padding: 12px 18px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

/* Magazine section */
.magazine-image {
    opacity: 0.5;
    position: relative;
    height: 40vh;
    width: 100%;
    object-fit: contain;
}

.magazine-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.magazine-desc {
    font-size: 14px;
    padding-top: 24px;
}

.ebook-btn {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.magazine-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magazine-content {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}

.magazine-content>h4 {
    font-size: 18px;
    padding-bottom: 8px;
}

.magazine-hint {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.magazine-author {
    padding-top: 16px;
}

.magazine-author>h5,
.magazine-hint>h5 {
    font-size: 14px;
}

.magazine-author>h6,
.magazine-hint>h6 {
    font-size: 13px;
}

.text-align {
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--primary);
    color: #fff;
    width: 100%;
    padding: 24px 0;
}

.footer-container {
    max-width: calc(100% - 20%);
    margin: 40px auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-logo img {
    margin-left: -5rem;
}

.footer-links-col-one {
    margin: 24px 0;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 45px;
}

.footer-link-row a {
    color: #fff;
    display: block;
    padding: 16px 0;
    font-size: 14px;
}

.footer-link-row:nth-child(5) {
    border-top: none;
}

.footer-link-row {
    border-top: 2px solid white;
    padding-top: 10px;
}

.footer-link-row>h3 {
    font-size: 18px;
    padding-bottom: 16px;
}

.responsive {
    display: none;
}

.footer-social-links {
    /* min-width: 70%; */
    display: flex;
    gap: 40px;
    align-items: center;
}

.download-options {
    display: flex;
}

.download-options img {
    width: 140px;
    height: 30px;
    object-fit: cover;
    padding-right: 24px;
}

.download-btn,
.footer-btns {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.footer-btn {
    padding: 12px 18px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    background: none;
}

.social-links {
    display: flex;
    gap: 24px;
}

.social-links a {
    background-color: #fff;
    border-radius: 99px;
    border: 1px solid #fff;
    padding: 7px 10px;
    text-align: center;
    color: var(--primary)
}

.footer-copyright {
    text-align: center;
    padding: 36px 0;
}

.footer-copyright a {
    font-size: 12px;
    color: #fff;
    padding-bottom: 28px;
}

.footer-copyright p {
    padding-top: 20px;
    font-size: 12px;
}

.footer-responsive {
    display: none;
}

.nav-responsive,
.d-block {
    display: none;
}

.back-to-top,
.res-back-to-top {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.back-to-top a {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
}

i.fa-solid.fa-sort-up {
    padding: 6px 24px;
    font-size: 24px;
}

@media (max-width: 1440px) {

    .main-container,
    .footer-container {
        max-width: calc(100% - 10%);
    }

    .nav-lg {
        display: block !important;
        display: flex !important;
        margin-bottom: 24px;
    }

    .nav-links {
        display: none;
    }

    .nav-link-list {
        overflow-x: scroll;
    }

    .footer-logo img {
        margin-left: -3rem;
    }

    .magazine-content:nth-child(4) {
        border-bottom: 1px solid #fff;
    }
}

@media (max-width: 1024px) {
    .hero-container {
        border-right: none;
        padding-right: 0;
    }

    .main-container,
    .footer-container {
        max-width: calc(100% - 5%);
    }

    .responsive {
        display: block !important;
        border-top: 2px solid var(--text);
        padding-top: 24px;
    }

    .hero-sidebar {
        display: none;
    }

    .hero-sidebar {
        width: 100%;
    }

    .hero-container {
        width: 100%;
    }

    .hero-image {
        width: 100%;
        height: 80vh;
    }

    .story-section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo img {
        margin-left: -1rem;
    }

    .story-card-one {
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
    }

    .border-right:nth-child(2):after {
        border: #fff;
    }

    .story-section-container {
        gap: 0;
    }
}

@media(max-width:786px) {
    .main-nav {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 24px 0 0 0;
    }

    #navLinksContainer {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        justify-content: center;
        justify-items: center;
        display: grid;
        height: 0;
        transition: .5s;
        background-color: #fff;
        overflow: hidden;
        width: 100%;
        z-index: 1;
    }

    #navLinksContainer.active {
        height: 100px;
        padding-top: 24px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    }

    .nav-link-list ul li a::after {
        display: none;
    }

    .fa-solid.fa-play {
        font-size: 8px;
    }

    .nav-responsive {
        display: block !important;
        top: 0;
        position: sticky;
        background-color: #fff;
        z-index: 1;
    }

    .nav-logo {
        display: flex;
        gap: 24px;
        width: 100%;
    }

    .nav-logo button {
        background-color: #fff;
        border: none;
        outline: none;
    }

    .nav-links {
        border: none;
        width: 100%;
        display: block;
    }

    .nav-link-list {
        box-shadow: 0px 3px 6px #00000014;
        opacity: 1;
    }

    .nav-link-list ul {
        gap: 6px;
    }

    .nav-link-list ul li a {
        padding: 0;
        font-size: 14px;
    }

    .story-section-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .found {
        width: 100%;
    }

    .main-container {
        max-width: calc(100% - 5%);
        margin: 0 auto;
    }

    .h-container {
        padding: 0;
    }

    .hero-content {
        width: calc(100% - 16px);
        margin: -100px 8px 0;
        padding: 10px 8px 0;
        background: #fff;
        position: relative;
    }

    .border-right:nth-child(1):after,
    .border-right:nth-child(3):after {
        border: #fff;
    }

    .border-none {
        border: none;
        padding-bottom: 24px;
    }

    .border-none:nth-child(3) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
    }

    .hero-content>h1 {
        font-size: 16px;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block;
        font-weight: normal;
    }

    .hero-content>h2 {
        font-size: 26px;
    }

    .author {
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .author>h6 {
        width: 100%;
        font-size: 9px;
        display: flex;
        gap: 2px;
    }

    .author>p {
        width: 100%;
        font-size: 12px;
    }

    .popular-headings {
        padding: 12px 0;
    }

    .popular-border-bottom:nth-child(5) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
        margin-bottom: 12px;
    }

    .story-section-head a {
        display: none;
    }

    .story-card-one {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
    }

    .popular-view-more a {
        text-align: right;
        display: block;
    }

    .story-card-content>h6 {
        padding: 8px 0;
    }

    .magazine-section {
        border-bottom: 2px solid #fff;
        padding-top: 24px;
        padding-bottom: 0;
    }

    .footer-responsive {
        padding: 12px;
        display: block;
    }

    .res-footer {
        margin-top: 24px;
    }

    .footer-responsive .footer-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-res-links {
        margin: 20px 0;
    }

    .footer-res-link-col {
        display: flex;
        gap: 12px;
        padding: 16px 0;
        border-top: 2px solid #fff;
        font-size: 17px;
    }

    .footer-res-link-col a {
        color: #fff;
    }

    .res-social-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-copy {
        margin-bottom: 32px;
    }

    .footer-copy h5 {
        font-size: 24px;
        padding-bottom: 12px;
    }

    .footer-copy p {
        font-size: 11px;
        font-weight: 800;
    }

    .footer-res-copyright-links {
        margin: 40px 0;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .footer-res-copyright-links a {
        color: #fff;
        font-size: 9px;
    }

    .main-footer {
        display: none;
    }

    .res-back-to-top a {
        color: var(--text);
        font-weight: 800;
    }
}